*~
main.aux
main.log
main.bbl
main.blg
main.pdf
*.out
texput.log
.DS_Store
PLDI-2012/sample-me-out.txt
PLDI-2012/~$Monthly_Budget_Trunc.xlsx
bin
obj
*.suo
~$*
*.bbl

*.blg

*.log

*.aux
