A*~
main.aux
main.log
main.bbl
main.blg
main.pdf
*.out
texput.log
.DS_Store
bin
obj
*.suo
~$*
*.bbl
*.blg
*.log
*.aux
*.trx
AgentRestart.dat
TestResults
CheckCellTests/.gitignore
CheckCellSetup/CheckCellSetup/Express
